{config_load file="$language/lang_$language.conf" section="account"}

<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr valign="top">
		<td class="moduleHeading" align="left">{#heading_account#}{$error_message}</td>
	</tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="2">
  <tr>
    <td width="50%" valign="top"> {if $products_history}<span class="smallHeading">{#title_viewed_products#}</span> 
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr> 
    	<td valign="middle" class="main" style="border-top: 1px solid; border-color: #cccccc;"> 
      	<table width="100%" border="0" cellspacing="0" cellpadding="3">
              {foreach name=history_products item=products_history from=$products_history} 
              <tr>
              <td rowspan="4" valign="top" class="main" style="border-bottom: 1px solid; border-color: #cccccc;">{if $products_history.PRODUCTS_IMAGE!=''}<a href="{$products_history.PRODUCTS_LINK}"><img src="{$products_history.PRODUCTS_IMAGE}" alt="{$products_history.PRODUCTS_NAME}" border="0" /></a>{/if}</td>
                <td valign="top" class="main"><a href="{$products_history.PRODUCTS_LINK}">{$products_history.PRODUCTS_NAME}</a></td>
              </tr>
              <tr> 
                <td valign="bottom" class="main">{$products_history.PRODUCTS_PRICE}<br />
				 {if $products_history.PRODUCTS_VPE}{$products_history.PRODUCTS_VPE}<br />{/if}
{$products_history.PRODUCTS_TAX_INFO}{$products_history.PRODUCTS_SHIPPING_LINK}<br />
				</td>
              </tr>
              <tr>
                <td valign="bottom" class="main"><a href="{$products_history.PRODUCTS_LINK}"></a><a href="{$products_history.PRODUCTS_CATEGORY_URL}">{#text_goto_cat#}</a></td>
              </tr>
              <tr> 
                <td valign="top" class="main" style="border-bottom: 1px solid; border-color: #cccccc;">{$products_history.BUY_NOW_BUTTON}</td>
              </tr>
              {/foreach} 
		</table></td>
  </tr>
</table>
{else}
<span class="smallHeading">{#title_welcome#}</span>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr> 
          <td valign="middle" class="main" style="border-top: 1px solid; border-color: #cccccc;"> 
            <table width="100%" border="0" cellspacing="0" cellpadding="3">
              <tr> 
                <td valign="top" class="main"><p>{#text_welcome#}</p></td>
              </tr>
		    </table></td>
        </tr>
      </table>
      {/if}{if $LINK_LOGIN}
      <table width="100%" border="0" cellspacing="0" cellpadding="3">
        <tr>
          <td valign="top" class="main"><img src="{$tpl_path}img/arrow_green.gif" alt="" /><a href="{$LINK_LOGIN}">{#text_login#}</a></td>
        </tr>
      </table> 
      {/if}</td>
    <td valign="top"><span class="smallHeading">{#title_account#}</span> 
      <table width="100%" border="0" cellspacing="0" cellpadding="4">
        <tr> 
          <td valign="middle" class="main" style="border-top: 1px solid; border-color: #cccccc;"> 
            <table width="100%" border="0" cellspacing="0" cellpadding="3">
              <tr> 
                <td class="main"><img src="{$tpl_path}img/arrow_green.gif" alt="" /><a href="{$LINK_EDIT}">{#text_edit#}</a></td>
              </tr>
              <tr> 
                <td class="main"><img src="{$tpl_path}img/arrow_green.gif" alt="" /><a href="{$LINK_ADDRESS}">{#text_address#}</a></td>
              </tr>
              <tr> 
                <td class="main"><img src="{$tpl_path}img/arrow_green.gif" alt="" /><a href="{$LINK_PASSWORD}">{#text_password#}</a></td>
              </tr>
            </table></td>
        </tr>
      </table>
      {if $order_content}<span class="smallHeading">{#title_orders#}&nbsp;</span><a href="{$LINK_ALL}"><span class="smallHeading">{#text_all#}</span></a> 
      <table width="100%" border="0" cellspacing="0" cellpadding="4">
        <tr> 
          <td valign="middle" class="main" style="border-top: 1px solid; border-color: #cccccc;"> 
            <table width="100%" border="0" cellspacing="0" cellpadding="3">
              {foreach name=aussen item=order_data from=$order_content} 
              <tr> 
                <td rowspan="2" valign="top" class="main"><img src="{$tpl_path}img/arrow_green.gif" alt="" /></td>
                <td class="main"><a href="{$order_data.ORDER_LINK}">{$order_data.ORDER_DATE}</a>&nbsp;&nbsp;{#order_nr#}{$order_data.ORDER_ID}</td>
                <td class="main">{#order_total#}{$order_data.ORDER_TOTAL}</td>
              </tr>
              <tr> 
                <td class="main">&nbsp;&nbsp;{#order_status#}{$order_data.ORDER_STATUS} 
                </td>
                <td class="main">{$order_data.ORDER_BUTTON}</td>
              </tr>
              {/foreach} </table></td>
        </tr>
      </table>
      {/if}
	  <span class="smallHeading">{#title_notification#}</span> 
      <table width="100%" border="0" cellspacing="0" cellpadding="4">
        <tr> 
          <td valign="middle" class="main" style="border-top: 1px solid; border-color: #cccccc;"> 
            <table width="100%" border="0" cellspacing="0" cellpadding="3">
              <tr> 
                <td class="main"><img src="{$tpl_path}img/arrow_green.gif" alt="" /><a href="{$LINK_NEWSLETTER}">{#text_newsletter#}</a></td>
              </tr>
            </table></td>
        </tr>
      </table></td>
  </tr>
</table>