{config_load file="$language/lang_$language.conf" section="checkout_confirmation"} 

<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr valign="top"> 
		<td class="contentsTopics">{#heading_confirmation#}</td>
	</tr>
	<tr valign="top">
	  <td class="main">{#text_information#}</td>
  </tr>
</table>
{if $IP_LOG=='true'} 
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td class="main">&nbsp;</td>
  </tr>
  <tr>
    <td><strong>{#text_ip#}</strong></td>
    <td class="inputRequirement"><strong>{$CUSTOMERS_IP}</strong></td>
  </tr>
</table>
{/if}
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td class="main">&nbsp;</td>
  </tr>
  <tr> 
    <td valign="top" class="main" style="border-top: 1px solid; border-color: #cccccc;"><strong>{#text_shipping_address#}</strong><em><a href="{$SHIPPING_ADDRESS_EDIT}"><font color="#009933">{#text_edit#}</font></a></em><br />{$DELIVERY_LABEL}</td>
    <td valign="top" class="main" style="border-top: 1px solid; border-color: #cccccc;">{if $BILLING_LABEL}<strong>{#text_payment_address#}</strong><em><a href="{$BILLING_ADDRESS_EDIT}"><font color="#009933">{#text_edit#}</font></a></em><br />{$BILLING_LABEL}{/if}</td>
  </tr>
  <tr>
    <td class="main">&nbsp;</td>
  </tr>
</table>
{if $SHIPPING_METHOD}
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td class="main"><strong>{#text_shipping_method#}</strong>&nbsp;{$SHIPPING_METHOD}&nbsp;<a href="{$SHIPPING_EDIT}" class="confirmationEdit">{#text_edit#}</a></td>
  </tr>
</table> 
{/if}

{if $PAYMENT_METHOD!=''}
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td class="main"><strong>{#text_payment_method#}</strong>&nbsp;{$PAYMENT_METHOD}&nbsp;<a href="{$PAYMENT_EDIT}" class="confirmationEdit">{#text_edit#}</a></td>
  </tr>
</table> 
{/if}
{if $ORDER_COMMENTS!=''}
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td class="main">&nbsp;</td>
  </tr>
  <tr>
    <td class="main"><strong>{#text_comments#}</strong>&nbsp;<a href="{$PAYMENT_EDIT}" class="confirmationEdit">{#text_edit#}</a></td>
  </tr>
</table> 
<table width="100%" border="0" cellspacing="0" cellpadding="4">
  <tr> 
    <td style="border: 1px solid; border-color: #cccccc;" class="main">{$ORDER_COMMENTS}</td>
  </tr>
</table>
{/if} 
{if $PAYMENT_INFORMATION!=''}
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td class="main">&nbsp;</td>
  </tr>
  <tr>
    <td class="main"><strong>{#text_payment_info#}</strong></td>
  </tr>
</table> 
<table width="100%" border="0" cellspacing="0" cellpadding="4">
  <tr> 
    <td style="border: 1px solid; border-color: #cccccc;" class="main">{$PAYMENT_INFORMATION}</td>
  </tr>
</table>
{/if} 
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td class="main">&nbsp;</td>
  </tr>
  <tr>
    <td class="main"><strong>{#text_products#}</strong>&nbsp;<a href="{$PRODUCTS_EDIT}" class="confirmationEdit">{#text_edit#}</a></td>
  </tr>
</table> 
<table width="100%" border="0" cellspacing="0" cellpadding="4">
  <tr> 
    <td style="border: 1px solid; border-color: #cccccc;" class="main"> 
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td class="main">{$PRODUCTS_BLOCK}</td>
        </tr>
        <tr>
          <td class="main" style="border-top: 1px solid; border-color: #cccccc;" align="right">{$TOTAL_BLOCK}</td>
        </tr>
      </table></td>
  </tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="right">{$CHECKOUT_FORM} {if $MODULE_BUTTONS!=''} {$MODULE_BUTTONS}<br />{/if} {$CHECKOUT_BUTTON}<br /><br />
	<table width="100%"  border="0" cellpadding="4">
        <tr>
          <td class="mainText">{if $REVOCATION}
		  <b>{$REVOCATION_TITLE}</b><br />
		  
		  {$REVOCATION}<br />
		  <table width="100%" border="0" cellspacing="0" cellpadding="3">
            <tr>
              <td class="main"><img src="{$tpl_path}img/arrow_green.gif" alt="arrow" />{$REVOCATION_TITLE}&nbsp;{$REVOCATION_LINK}</td>
            </tr>
            <tr>
              <td class="main"><img src="{$tpl_path}img/arrow_green.gif" alt="arrow" />{$AGB_TITLE}&nbsp;{$AGB_LINK}</td>
            </tr>
          </table>
		  {/if}</td>
        </tr>
      </table></td>
  </tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td class="main">&nbsp;</td>
	</tr>
	<tr>
		<td>
			<table border="0" width="100%" cellspacing="0" cellpadding="0">
				<tr>
					<td>
						<table border="0" width="100%" cellspacing="0" cellpadding="0">
							<tr>
								<td align="right"><img src="{$tpl_path}img/pixel_silver.gif" width="1" height="5" alt="" /></td>
								<td><img src="{$tpl_path}img/pixel_silver.gif" width="100%" height="1" alt="" /></td>
							</tr>
						</table>
					</td>
					<td><img src="{$tpl_path}img/pixel_silver.gif" width="100%" height="1" alt="" /></td>
					<td>
						<table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td><img src="{$tpl_path}img/pixel_silver.gif" width="100%" height="1" alt="" /></td>
								<td class="onepxwidth"><img src="{$tpl_path}img/checkout_bullet.gif" alt="" /></td>
								<td><img src="{$tpl_path}img/pixel_silver.gif" width="100%" height="1" alt="" /></td>
							</tr>
						</table>
					</td>
					<td>
						<table border="0" width="100%" cellspacing="0" cellpadding="0">
							<tr>
								<td><img src="{$tpl_path}img/pixel_silver.gif" width="100%" height="1" alt="" /></td>
								<td><img src="{$tpl_path}img/pixel_silver.gif" width="1" height="5" alt="" /></td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td align="center" class="checkoutBarTo">{#text_shipping_info#}</td>
					<td align="center" class="checkoutBarTo">{#text_payment_info#}</td>
					<td align="center" class="checkoutBarCurrent">{#text_confirm#}</td>
					<td align="center" class="checkoutBarTo">{#text_finished#}</td>
				</tr>
			</table>
		</td>
	</tr>
</table>