{config_load file="$language/lang_$language.conf" section="contact_us"}
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td class="contentsTopics">{$CONTACT_HEADING}</td>
  </tr>
</table>
<br />
<br />
{if $error_message!=''}
<br />
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td class="main" style="border: 1px solid; border-color: #ff0000;" bgcolor="#FFCCCC" align="center">{$error_message}</td>
  </tr>
</table>
<br />
{/if}

{if $success!='1'}
{$FORM_ACTION}
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr> 
    <td class="main">{$CONTACT_CONTENT}</td>
  </tr>
  <tr> 
    <td align="right"><br /></td>
  </tr>
  <tr> 
    <td><table width="100%" border="0" cellspacing="2" cellpadding="0">
        <tr> 
          <td class="main">{#text_name#}</td>
          <td>{$INPUT_NAME}</td>
        </tr>
        <tr> 
          <td class="main">{#text_email#}</td>
          <td>{$INPUT_EMAIL}</td>
        </tr>
        <tr>
          <td class="main" valign="top">{#text_message#}</td>
          <td>{$INPUT_TEXT}</td>
        </tr>
      </table></td>
  </tr>
  <tr> 
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td align="right">{$BUTTON_SUBMIT}</td>
  </tr>
</table>
{$FORM_END}
{else}
<table width="100%" border="0" cellspacing="0" cellpadding="5">
  <tr> 
    <td><img src="{$tpl_path}img/checkout_success.gif" alt="" /></td>
    <td class="main"valign="top"><br />
      {#text_success#}<br /> <br />
      <br /> <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr> 
          <td align="right"><br />{$BUTTON_CONTINUE}</td>
        </tr>
      </table></td>
  </tr>
</table>
{/if}
