{config_load file="$language/lang_$language.conf" section="account_history_info"}
{config_load file="$language/lang_$language.conf" section="print_order"}
{config_load file="$language/lang_$language.conf" section="product_info"}



	<h2>{#heading_history_info#}</h2>

	<h3>{#text_oid#}{$ORDER_NUMBER} ({$ORDER_STATUS})</h3>
	<p>{#text_date#} {$ORDER_DATE}</p>

	<div class="floatbox">
		<div class="delAdress">
		<h3>{#text_shipping_address#}</h3>
		<p>{$DELIVERY_LABEL}</p>
		</div>


		{if $BILLING_LABEL}
		<div class="billAdress">
			<h3>{#text_payment_address#}</h3>
			<p>{$BILLING_LABEL}</p>
		{/if}
		</div>
	</div>
	
	{if $SHIPPING_METHOD !=''}
	<h3>{#text_shipping_method#}</h3>
	<p>{$SHIPPING_METHOD}</p>
	{/if}
	
	{if $PAYMENT_METHOD}<h3>{#text_payment_method#}</h3>
	<p>{$PAYMENT_METHOD}</p>{/if}

	{if $ORDER_COMMENTS!=''}
	<p>{#text_comments#}</p>
	{/if}

	{if $PAYMENT_INFORMATION!=''}
	<p>{#text_payment_info#}<br />
	{$PAYMENT_INFORMATION}</p>
	{/if}


	<h3>{#title_history#}</h3>
	{$HISTORY_BLOCK}
		<table>
		  <thead>
		  <tr>
		    <th>{#head_units#}</th>
		    <th>{#head_products#}</th>
		    <th>{#head_artnr#}</th>
		    <th>{#head_single_price#}</th>
		    <th>{#head_price#} </th>
		  </tr>
		  </thead>
		  <tbody>

		{foreach name=aussen item=order_values from=$order_data}
		  <tr>
		    <td>{$order_values.PRODUCTS_QTY}</td>
		    <td>{$order_values.PRODUCTS_NAME} {if $order_values.PRODUCTS_ATTRIBUTES!=''}<em>{$order_values.PRODUCTS_ATTRIBUTES}</em>{/if}{if $order_values.PRODUCTS_SHIPPING_TIME neq ''}<br />
		                                    {#text_shippingtime#} {$order_values.PRODUCTS_SHIPPING_TIME}<br />{/if}</td>
		    <td>{$order_values.PRODUCTS_MODEL} {if $order_values.PRODUCTS_ATTRIBUTES_MODEL!=''}<em>{$order_values.PRODUCTS_ATTRIBUTES_MODEL}</em>{/if}</td>
		    <td>{$order_values.PRODUCTS_SINGLE_PRICE}</td>
		    <td>{$order_values.PRODUCTS_PRICE}</td>
		  </tr>
		{/foreach}
		  </tbody>
			<tfoot>
  				<tr>
    				<td colspan="5" class="subTotal">
    					{foreach name=aussen item=order_total_values from=$order_total}
							{$order_total_values.TITLE} {$order_total_values.TEXT}<br />
						{/foreach}
					</td>
  				</tr>
  			</tfoot>
		</table>

        {if $downloads_content neq ''}
          {$downloads_content}
        {/if}


		<div class="floatbox">
			<div class="leftCol">{$BUTTON_PRINT}</div>
			<div class="rightCol">{$BUTTON_BACK}</div>
		</div>