{config_load file="$language/lang_$language.conf" section="account_password"}


<h2>{#heading_password#}</h2>
	{$FORM_ACTION}<br />


		{if $error!=''}
		 <p><strong class="error">{$error}</strong></p>
		{/if}
<br />
		<p class="must">{#text_must#}</p>
<p>
		<label>{#text_actual#}</label>
		{$INPUT_ACTUAL}<br class="clearHere" />

		<label>{#text_new#}</label>
		{$INPUT_NEW}<br class="clearHere" />

		<label>{#text_confirm#}</label>
		{$INPUT_CONFIRM}<br class="clearHere" />
</p>

	<div class="floatbox">
			<div class="leftCol">{$BUTTON_BACK}</div>
			<div class="rightCol">{$BUTTON_SUBMIT}</div>
	</div>

	{$FORM_END}
