{config_load file="$language/lang_$language.conf" section="advanced_search"}

<h2>{#heading_search#}</h2>
<br class="clearHere" />

{$FORM_ACTION}
  {if $error!=''}<p><strong class="error">{$error}</strong></p>{/if}

	<label>{#title_keywords#}</label>
  {$INPUT_KEYWORDS}<a href="{$HELP_LINK}">{#text_help#}</a><br class="clearHere" />

  <label>{#text_categories#}</label>
  {$SELECT_CATEGORIES}<br class="clearHere" />

  {$ENTRY_SUBCAT} <label>{#text_subkategories#}</label><br class="clearHere" />

  <label>{#text_manufacturer#}</label>
  {$SELECT_MANUFACTURERS}<br class="clearHere" />

  <label>{#text_min#}</label>
  {$SELECT_PFROM}<br class="clearHere" />

  <label>{#text_max#}</label>
  {$SELECT_PTO}<br class="clearHere" />

{$BUTTON_SUBMIT}<br class="clearHere" />

{$FORM_END}

