{config_load file="$language/lang_$language.conf" section="checkout_confirmation"}
<div class="floatbox">
		<div class="processCheckoutGreen">{#text_shipping_info#}<br /><img src="{$tpl_path}img/icons/check.gif" height="16" width="16" alt="" /></div>
		<div class="processCheckoutGreen">{#text_payment_info#}<br /><img src="{$tpl_path}img/icons/check.gif" height="16" width="16" alt="" /></div>
		<div class="processCheckoutYellow"><strong>{#text_confirm#}</strong><br /><img src="{$tpl_path}img/icons/now.gif" height="16" width="16" alt="" /></div>
		<div class="processCheckoutRed">{#text_finished#}<br /><img src="{$tpl_path}img/icons/cross.gif" height="16" width="16" alt="" /></div>
</div>

<h4>{#heading_confirmation#}</h4>
<div class="checkoutConfirmation">
  <p>{#text_information#}</p>
  {if $IP_LOG=='true'}
  <p>{#text_ip#} {$CUSTOMERS_IP}</p>
  {/if}

		<div class="subcolumns">
  				<div class="c50l">
    				<div class="subcl">
      					<div class="delAdress">
							<h3>{#text_shipping_address#}</h3>
							<p class="container"> {$DELIVERY_LABEL} <a href="{$SHIPPING_ADDRESS_EDIT}" class="checkoutLink">{#text_edit#}</a></p>
						</div>
      				</div>
  				</div>
  				<div class="c50r">
    				<div class="subcr">
						{if $BILLING_LABEL}
							<div class="billAdress">
								<h3>{#text_payment_address#}</h3>
								<p class="container"> {$BILLING_LABEL} <a href="{$BILLING_ADDRESS_EDIT}" class="checkoutLink">{#text_edit#}</a></p>
							</div>
						{/if} 
				    </div>
  				</div>
			</div>

	<br />

	{if $SHIPPING_METHOD}
	<h3>{#text_shipping_method#}</h3>
	<p class="container"> {$SHIPPING_METHOD} <a href="{$SHIPPING_EDIT}" class="checkoutLink">{#text_edit#}</a> </p>
  	{/if}

  {if $PAYMENT_METHOD!=''}
  <h3>{#text_payment_method#}</h3>
  <p class="container"> {$PAYMENT_METHOD} <a href="{$PAYMENT_EDIT}" class="checkoutLink">{#text_edit#}</a> </p>
  {/if}

  {if $PAYMENT_INFORMATION!=''}
  {$PAYMENT_INFORMATION}
  {/if}

  {if $ORDER_COMMENTS!=''}
  <h3>{#text_comments#}</h3>
  <p class="container"> {$ORDER_COMMENTS} <a href="{$PAYMENT_EDIT}" class="checkoutLink">{#text_edit#}</a> </p>
  {/if}
  <h3>{#text_products#}</h3>
  <p><a href="{$PRODUCTS_EDIT}" class="checkoutLink">{#text_edit#}</a></p>
 
  {$PRODUCTSHEAD_BLOCK}
 	{$PRODUCTS_BLOCK}
	{$TOTAL_BLOCK}
   
  {if $MODULE_BUTTONS!=''}{$MODULE_BUTTONS}
  {/if}
   	<div class="floatbox">
			<div class="leftCol">&nbsp;</div>
			<div class="rightCol">{$CHECKOUT_FORM}{$CHECKOUT_BUTTON}</div>
	</div><br class="clearHere" />

  {if $REVOCATION}
  {if $REVOCATION_TITLE}<h3>{$REVOCATION_TITLE}</h3>{/if}
  <p>{$REVOCATION}</p>
  {if $REVOCATION_TITLE}<p>{$REVOCATION_TITLE}: {$REVOCATION_LINK}</p>{/if}
  <p>{$AGB_TITLE}: {$AGB_LINK}</p>
  {/if}<br />

</div>
