{foreach name=aussen item=module_data from=$module_content}
<div class="{cycle values="container,container2"}">


	  {$module_data.selection}
		{$module_data.module} {if $module_data.module_cost != ''}<em>{$module_data.module_cost}</em>{/if}<br class="clearHere" />
		{if $module_data.description}<p class="optionsBg">{$module_data.description}</p>{/if}

	  {if $module_data.error}
		  <p><strong class="error">{$module_data.error}</strong></p>
	  {else}
		{foreach name=aussen item=method_data from=$module_data.fields}
			  <div class="optionsBg">
		      {$method_data.title}
			  {$method_data.field}<br class="clearHere" />
			  </div>
		{/foreach}
	  {/if}
</div>
{/foreach}

<hr class="dis" />



