{config_load file="$language/lang_$language.conf" section="checkout_new_address"}

 <h4>{#title_new_address#}</h4>
 <p class="must">{#text_must#}</p>

	<p>{#text_new_address#}</p>

	{if $gender=='1'}
		<fieldset>
		  	{$INPUT_MALE}
			{$INPUT_FEMALE}
		</fieldset>
	{/if}

	<fieldset>


		 <label>{#text_firstname#}</label>{$INPUT_FIRSTNAME}<br class="clearHere" />

		  <label>{#text_lastname#}</label>{$INPUT_LASTNAME}<br class="clearHere" />

		{if $company=='1'}
		  <label>{#text_company#}</label>{$INPUT_COMPANY}<br class="clearHere" />
		{/if}

		  <label>{#text_street#}</label>{$INPUT_STREET}<br class="clearHere" />

		{if $suburb=='1'}
		  <label>{#text_suburb#}</label>{$INPUT_SUBURB}<br class="clearHere" />
		{/if}

		  <label>{#text_code#}</label>{$INPUT_CODE}<br class="clearHere" />

		  <label>{#text_city#}</label>{$INPUT_CITY}<br class="clearHere" />

		{if $state=='1'}
			<label>{#text_state#}</label>{$INPUT_STATE}<br class="clearHere" />
		{/if}

		  <label>{#text_country#}</label>{$SELECT_COUNTRY}<br class="clearHere" />

		{if $new=='1'}
		  {$CHECKBOX_PRIMARY} <label>{#text_standard#}</label><br class="clearHere" /><br class="clearHere" />
		{/if}

</fieldset>
