{config_load file="$language/lang_$language.conf" section="checkout_shipping"}
{config_load file="$language/lang_$language.conf" section="checkout_navigation"}


<div class="floatbox">
		<div class="processCheckoutYellow"><strong>{#text_shipping_info#}</strong><br /><img src="{$tpl_path}img/icons/now.gif" height="16" width="16" alt="" /></div>
		<div class="processCheckoutRed">{#text_payment_info#}<br /><img src="{$tpl_path}img/icons/cross.gif" height="16" width="16" alt="" /></div>
		<div class="processCheckoutRed">{#text_confirm#}<br /><img src="{$tpl_path}img/icons/cross.gif" height="16" width="16" alt="" /></div>
		<div class="processCheckoutRed">{#text_finished#}<br /><img src="{$tpl_path}img/icons/cross.gif" height="16" width="16" alt="" /></div>
</div>

<h4>{#heading_text#} {#title_address#}</h4>

<div class="cart">

{$FORM_ACTION}

	  <p>{#text_addressbook#}</p>
	  <h3>{#title_address#} </h3>
	  <p class="container">{$ADDRESS_LABEL}<br />{$BUTTON_ADDRESS}</p>
	  <h3>{#title_shipping#}</h3>
	  <p>{#text_shipping#}</p>
	  {$SHIPPING_BLOCK}

	  <h3>{#title_continue#}</h3>

	<div class="floatbox">
		<div class="leftCol">{$BUTTON_BACK}</div>
		<div class="rightCol">{$BUTON_CONTINUE}</div>
	</div>
{$FORM_END}
<br class="clearHere" /><br class="clearHere" />


</div>