{config_load file="$language/lang_$language.conf" section="gift_cart"}

{if $ACTIVATE_GIFT=='true'}
{$FORM_ACTION}
  <h3>{#title#}</h3>

  {if $GV_AMOUNT neq ''}
    <p>{#text_info#}</p>
    <label>{#voucher_balance#}</label>
    <p>{$GV_AMOUNT}</p><br class="clearHere" />
  {/if}

  {if $COUPON_AMOUNT2 neq ''}
    <div class="container">
      <label>{#voucher_redeemed#}</label>
      <p>{$COUPON_AMOUNT2}</p><br class="clearHere" />
    </div>
  {/if}
  {if $COUPON_HELP_LINK neq ''}
    <p>{#cart_coupon#} {$COUPON_HELP_LINK} {#cart_coupon_info#}</p>
  {/if}
  {if $C_FLAG == 'true'}

    <div class="container">
      <label>{#text_code#}</label>
      {$INPUT_CODE}&nbsp;{$BUTTON_SUBMIT}
<br class="container" />
    </div>
  {else}
    <p>{#create_account#}<br />
    <a href="{$LINK_ACCOUNT}">{#text_create_account#}</a></p>
  {/if}

{$FORM_END}
{/if}

