{config_load file="$language/lang_$language.conf" section="login"}
<h2>{#heading_login#}</h2>

{if $info_message!=''}<p>{$info_message}</p>{/if}

		{if $account_option=='account' or $account_option=='both'}
		{$FORM_ACTION}
		<h3>{#title_returning#}</h3><br />
		{if #text_returning#!=''}<p>{#text_returning#}</p>{/if}
		<label>{#text_email#}</label>{$INPUT_MAIL}<br class="clearHere" />
		<label>{#text_password#}</label>{$INPUT_PASSWORD}<br class="clearHere" />
		<p>{$BUTTON_LOGIN}</p>
		<p><a href="{$LINK_LOST_PASSWORD}">{#text_lost_password#}</a></p>
		<br class="clearHere" />
		{$FORM_END}
		<hr class="dis" />

		<h3>{#title_new#}</h3>
		<p>{#text_new#}</p>
		<p>{$BUTTON_NEW_ACCOUNT}</p>
		{/if}

		{if $account_option=='both' or $account_option=='guest'}

		<h3>{#title_guest#}</h3>
		<p>{#text_guest#}</p>
		{$BUTTON_GUEST}

		{/if}