{config_load file="$language/lang_$language.conf" section="newsletter"}

<h2>{#heading_title#}</h2>

	{if $info_message!=''}
	<p>{$info_message}</p>
	{/if}

	{$FORM_ACTION}
	  <p>{$VVIMG}</p>

	  <label>{#text_sec_code#}:</label>{$INPUT_CODE}<br class="clearHere" />

		<label>{#text_email#}:</label>{$INPUT_EMAIL}<br class="clearHere" />

		{$CHECK_INP}<label class="zubehoer">{#text_in#}</label><br class="clearHere" />

		{$CHECK_DEL}<label class="zubehoer">{#text_out#}</label><br class="clearHere" />

		{$BUTTON_SEND}
	{$FORM_END}

